@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Domine:wght@400;500;600;700&family=Gloock&family=Josefin+Sans&family=PT+Serif:ital@1&family=Pacifico&family=Source+Serif+Pro:wght@200&display=swap');
*{ 
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'PT Serif', serif;
 }
 body{
     scroll-behavior:smooth; 
     overflow-x: hidden;
    overflow-y: auto; 
   
}
 
 nav{   
    height:60px;
    width:100%;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); 
    line-height:55px;
    padding:0px 80px;
    margin-top: 0px;
    position:fixed;
    top: 0;
    left: 0;
   z-index:1;
    
 }
 .logo{
    margin-left: 60px;
    font-size: 28px;
    font-weight: bold;
    float: left;

 }
 nav ul{
    float:right;
  
}
nav ul li{
    float:left;
    list-style-type:none;
    position:relative;
    top: 4px;
    left: 0;
  
    
}
nav ul li a{
    text-decoration:none;
    color:black;
    font-size:24px;
    padding:0px 16px;
    display:block;
}
nav ul li a:hover{
   background-color: rgb(240, 71, 99);
   border-radius: 10px;
   color: white;
   


}
nav ul li ul{
    position:absolute;
    display:none;
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    border-radius:0px 0px 5px 5px;
}
nav ul li:hover ul{
    display:block;
}
nav ul li ul li{
    line-height:1;
   width:190px;
   border-radius:5px;
   padding:6px;
}
nav ul li ul li a{
   padding:10px 16px;
}
nav ul li ul li a:hover{
   background-color:rgb(240, 71, 99);
   
}
 .text{
	padding:0;
	margin:0;
	text-align:center;
	font-family: 'Barlow', sans-serif;
    background-image: url(bulb\ wallpaper.jpg);
    background-size: cover;
	height: 300px;
    width: 100%;
   
}
 .text h1{
	position:relative;
    top: 90px;
    left:-340px;
    font-family:'Barlow', sans-serif;
    font-size:50px;
	color:white;
    margin-top:4px;
	
}
.text p{
	color:white;
	font-size:20px;
    position:absolute;
    top: 170px;
    left:80px;
    font-family:'Barlow', sans-serif;

}
 

#unique{
    text-align: center;
    padding-top: 30px;

}
#unique h1{
    color:red;
}
#unique p{
   margin:0px 40px;
}
main{
    margin-left:0px;
}
.demo{
    margin: 20px  auto;
    float: left;

}
.demo img{
    width: 100% auto;
 
}
.demo img:hover{
    transform: scale(1.2);
}
.class{
    color: red;
    text-align: center;
    position: absolute;
    top:700px;
    left: 520px;
}
.container{
    display: flex;
    padding: 6px;
    position:absolute;
    top: 800px;
    left: -5px;
    gap: 8px;
    font-family: 'Domine', serif;
}
.product{
    padding: 8px;
    border: 1px solid black;
    background-image:linear-gradient(45deg, #85FFBD 0%, #FFFB7D 60%);
    color: brown;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 2px;
    font-size:16px;
    
} 
.product:hover{
 
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    color:white;

}
.product button{
    padding: 6px;
    background-color: orange;
}
 .product button:hover{
    background-color: red;
    color: white;
}
.fight{
    padding: 0;
    position: absolute;
    top: 1280px;
    left: 0;
}
.fight h1{
    text-align: center;
    color: red;
}
.fight p{
    text-align: center;
    font-size: 20px;
    margin: 18px;
}
.fight img{
    margin-left:400px;
    border-radius:0% 40%;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
}

#map{
  padding: 0;
  position: absolute;
  top: 1980px;
  left: 0;
}
#map h1{
   font-size: 33px;
    color: red;
    margin-left: 630px;
    
}
#map p{
    margin-left:470px;
    font-size: 20px;
    font-family: cursive;
}
.contact{
    text-align: center;
    position: absolute;
    top: 2500px;
    left: 0;
}
.contact h1{
    font-size: 33px;
    margin-left: 600px;
    color: red;
}
.contact p{
    margin-left:600px;
    font-size:18px;
}

footer {
   
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  width: 100%;
  max-width:1500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 2600px;
 
}

.main {
  width: 100%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin:30px;

}

.heading {
  margin-bottom: 15px;
  font-weight: bold;
 
}
.col1  ul li{
    list-style-type: none;
}
.col1 {
  flex: 1;
  min-width: 200px;
  margin-left: 20px;
 
}
.col2 ul li{
    list-style-type: none;

}
.col2 {
  flex: 2;
  min-width: 150px;
  
}


.col1 a {
  display: inline-block;
  padding: 5px 0;
  font-size: 14px;
}

.col1 a:hover {
    background: #58bed5;
    color: black;
}

.col2 a {
  display: inline-block;
  padding: 5px 0px;
   font-size: 14px;
 
}

.col2 a:hover {
  background: #58bed5;
  color: black;
}

.letter{
    margin-left: 850px;
    position: absolute;
    top: 70px;
}
.letter h1{

    font-weight: bold;
}
.letter p{
    font-size: 18px;
}
.mail-box{
    height:40px;
    display: flex;
    justify-content: center;
}
.text-box, .text-btn{
    outline: none;
    border: none;
}
.text-box{
    width: 240px;
    padding: 0 10px;
}
.text-btn{
    width: 90px;
    background-color: orange;
    color: black;
}
.text-btn:hover{
    background-color: #ff0066;
    color: white;
}
.bottom{
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  width: 100%;
  padding: 15px 0;
  text-align: center;
  position: absolute;
  top: 2960px;
    
}
.bottom p{
    font-size: 16px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #2AF598;

}
.bottom span{
    text-transform: uppercase;
    opacity: 0.4;
    font-weight:bold;
    color:yellow;

}    
